<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/auth.css') }} ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Kall'd Login</title>
</head>
<body>
    <div class="space" style="background-color: #c2c2c2;"></div>
    <div class="space form">
        <form action="/register" method="post">
            <h1>Register</h1>
            <input class="input1" type="text" name="username" placeholder="Username">
            <input class="input1" type="text" name="email" placeholder="Email">
            <input class="input1" type="password" name="password" placeholder="Password">
            <input class="btn" type="submit" value="Sign in">
        </form>
        <p class="error">{{ error }}</p>
        <a href="/login" class="signin">Log in</a>
    </div>
</body>
</html>